<div class="masthead clearfix">
  <div class="inner">
    <nav>
      <ul class="nav masthead-nav">
        <li><%= link_to "home", '/' %></li>
      </ul>
    </nav>
  </div>
</div>

<div class="inner cover">
  <h1 class="cover-heading">INSTANT GRINDR SOUND</h1>
  <p class="lead">
    Annoy your boyfriend with this shit.
  </p>
  <p class="lead">
    Experience the satsifaction of endless messages from faceless abs.
  </p>
  <p class="lead">
    Or just amuse yourself at work.
  </p>
  <p class="lead">
    Made in Brooklyn.
  </p>
</div>
